[project]
name = "powercontroller"
version = "1.0.4"
description = "App to control and monitor devices via Shelly smart switches"
readme = "README.md"
requires-python = ">=3.13"
service_name="PowerController"
launch_path="src/main.py"
dependencies = [
    "astral>=3.2",
    "flask>=3.1.2",
    "org-enums>=1.0.0",
    "pre-commit>=4.3.0",
    "python-dateutil>=2.9.0.post0",
    "pytz>=2025.2",
    "sc-utility>=2.4.2",
    "werkzeug>=3.1.3",
]

[tool.uv.sources]
org-enums = { git = "https://github.com/NickElseySpelloC/org_enums", tag = "v1.0.0" }


